# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Idea project-specific files
*.iml
.idea

# Ignore Git project-specific files
.git
*.gitattributes
